main {
  margin-top: 1.4rem;
  position: relative;
}


@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 768px) {

  main {
    position: unset;
    margin-top: 8rem;
    padding: 0 1rem;
  }

}
