/* Keyboard.css */

.Keyboard {
    padding-inline: 1rem;
    padding-block: 0.01rem;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-2);
    margin-bottom: 2rem;

  .toggle-btn {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-2);
  }

  .buttons {
    display: none;
    // display: grid;
    
  }
  .buttons.visible{
    margin-block: 1rem;
    grid-column: span 1;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .column {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
  }

  .column1 {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
  }

  .row {
    display: flex;
    gap: 0.3rem;
    justify-content: space-between;
  }

  .column2 {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
  }

  .column3 {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
  }

  button {
    width: 100%;
    padding-inline: 0.5rem;
    height: 2.5rem;
    font-size: 16px;
    background-color: var((--color-white));
    border-radius: var(--border-radius-2);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    grid-column: span 1;
  }
  button > * {
    color: var(--color-dark);
  }

  button:hover {
    background-color: var(--color-primary);
  }

  button:active {
    background-color: var(--color-dark);
  }
}

@media only screen and (max-width: 768px) {
 .Keyboard{
  button{
    border-radius: var(--border-radius-1);
  }
  .buttons.visible{
    gap: 0.5rem;
  }
  .column, .column1, .column2, .column3, .row{
    gap: 0.2rem;
  }
 }
  
}

@media only screen and (max-width: 480px) {
  .Keyboard{
    button{
      border-radius: var(--border-radius-1);
    }
    .buttons.visible{
      gap: 0.5rem;
    }
  } 
}
